@media (min-width:1025px) and (max-width:1280px) {

  * {
    font-size: 32px;
  }

  #first {
    right: 25vw;
  }

  #last {
    left: 25vw;
  }

  #title {
    top: 68vh;
  }

  #bar-three {
    top: 78.5vh;
  }

  .project-list {
    font-size: 1em;
  }

  nav > div {
    font-size: .618em;
    line-height: 40px;
    width: 12vw;
  }

  .project-image {
    width: 50vw;
    left: 25vw;
  }

  ul > li {
    font-size: 1em;
  }

  #bio {
    top: 10vh;
  }

  #enter-project {
    bottom: 0vh;
  }

  #contact-header {
    top: 5vh;
  }

  #contact-email,
  #contact-name {
    top: 10vh;
  }

  #contact-message {
    top: 14vh;
  }

  #contact-email,
  #contact-name,
  #contact-message {
    font-size: 26px;
  }

  #contact-send {
    top: 18vh;
  }

  #linkedin {
    left: 10vw;
  }

  #twitter {
    right: 10vw;
  }

}
