@media (min-width:1281px) {

  .twelveEightyOne {
    display: block;
  }

  * {
    font-size: 40px;
  }

  nav > div {
    font-size: .618em;
    line-height: 40px;
    width: 9vw;
  }

  #title {
    top: 68vh;
  }

  #bar-three {
    top: 78.5vh;
  }

  .project-image {
    width: 50vw;
    left: 25vw;
  }

  #about-header {
    top: 10vh;
  }

  #bio {
    top: 5vh
  }

  ul > li,
  #bio {
    font-size: 1em;
  }

  #enter-project {
    bottom: 0;
  }

  #contact-header {
    /*font-size: 40px;*/
    top: 10vh;
  }

  #contact-email,
  #contact-name {
    top: 15vh;
  }

  #contact-message {
    top: 19vh;
  }

  #contact-email,
  #contact-name,
  #contact-message {
    font-size: 20px;
  }

  #contact-send {
    font-size: 25px;
    top: 21vh;
  }

  #linkedin {
    left: 20vw;
  }

  #twitter {
    right: 20vw;
  }
}
