@media (min-width:320px) and (max-width:479px){

  * {
    font-size: 17px;
  }

  .threeTwenty {
    display: block;
  }

  #first {
    top: 32vh;
  }

  #last {
    top: 40vh;
  }

  #title {
    top: 55vh;
  }

  #bar-one {
    top: 37.5vh
  }

  #bar-two {
    top: 47.5vh;
  }

  #bar-three {
    top: 59vh;
  }

  nav > div {
    width: 30vw;
  }

  #mobile-clue {
    display: block;
  }

  #bio {
    margin: 9vw;
  }

  #about-header {
    top: 16vh;
  }

  #bio {
    top: 16vh;
  }

  .project-image {
  	width: 75vw;
    left: 12.5vw;
  }
}
