@media (min-width:320px) and (max-width:479px){

  * {
    font-size: 17px;
  }

  .threeTwenty {
    display: block;
  }

  #first {
    top: 30vh;
  }

  #last {
    top: 38vh;
  }

  #title {
    top: 54vh;
  }

  #bar-one {
    top: 36.5vh
  }

  #bar-two {
    top: 45.5vh;
  }

  #bar-three {
    top: 58vh;
  }

  nav > div {
    width: 30vw;
  }

  #mobile-clue {
    display: block;
  }

  #bio {
    margin: 9vw;
  }

  #about-header {
    top: 16vh;
  }

  #bio {
    top: 16vh;
  }

  .project-image {
  	width: 75vw;
    left: 12.5vw;
  }

  .red {
    background-color: red;
  }
}
