@media (min-width:320px) and (max-width:479px){

  * {
    font-size: 17px;
  }

  .threeTwenty {
    display: block;
  }

  #first {
    top: 36vh;
  }

  #last {
    top: 44vh;
  }

  #bar-one {
    top: 42.5vh
  }

  #bar-two {
    top: 51.5vh;
  }

  nav > div {
    width: 30vw;
  }

  #mobile-clue {
    display: block;
  }

  #bar-three {
    top: 63vh;
  }

  #bio {
    margin: 9vw;
  }

  .project-image {
  	width: 75vw;
    left: 12.5vw;
  }
}
