@media (min-width:480px) and (max-width:599px) {
  .fourEighty{
    display: block;
  }

  #first {
    top: 35vh;
  }

  #bar-one {
    top: 41.5vh;
  }

  #mobile-clue {
    display: block;
  }

  * {
    font-size: 20px;
  }

  #bio {
    margin: 9vw;
  }

  .project-image {
    width: 75vw;
    left: 12.5vw;
  }
}
