@media (min-width:480px) and (max-width:599px) {

  * {
    font-size: 20px;
  }

  .fourEighty{
    display: block;
  }

  #bar-three {
    top: 66vh;
  }

  #mobile-clue {
    display: block;
  }

  .project-image {
    width: 75vw;
    left: 12.5vw;
  }

  .project-list {
    top: 5vh;
  }

  #enter-project {
    bottom: 5vh;
  };
}
