@media (min-width:600px) and (max-width:800px){

  .sixHundred {
    display: block;
  }

  * {
    font-size: 23px;
  }

  #first {
    right: 15vw;
    top:35vh;
  }

  #last {
    left: 15vw;
  }

  #bar-one {
    top: 41.5vh;
    left: 13vw;
  }

  #bar-two {
    right: 13vw;
  }

  #bar-three {
    top: 63.5vh;
  }

  .social {
    height: 90px;
    width: 90px;
  }

  #github {
    left: calc(50vw - 45px);
  }

  #twitter {
    right: 10vw;
  }

  #linkedin {
    left: 10vw;
  }
}
