@media (min-width:801px) and (max-width:1024px) {

  * {
    font-size: 28px;
  }

  #title {
    top: 65vh;
  }

  #bar-three {
    top: 73vh;
  }

  nav > div {
    font-size: .618em;
    line-height: 40px;
    width: 12vw;
  }

  #bio {
    top: 10vh;
  }

  #contact-email,
  #contact-name {
    top: 15vh;
  }

  #contact-message {
    top: 19vh;
  }

  #contact-send {
    top: 23vh;
  }
}
