@media (min-width: 1025px) {

  * {
    font-size: 4px;
  }

  #hamburger {
    margin-right: 1vw;
  }

  .bun {
    width: 50px;
    height: 6px;
    margin-bottom: 11px;
  }

  nav > div {
    line-height: 55px;
  }

  .social {
    height: 120px;
    top: calc(385vh);
    width: 120px;
  }

  #github {
    left: calc(50vw - 60px);
  }

  #twitter {
    right: 12vw;
  }

  #linkedin {
    left: 12vw;
  }
}
