* {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

#hamburger {
  height: 10vh;
  position: fixed;
  margin-right: 3vw;
  margin-top: 3vh;
  right: 0;
  width: 10vw;
  z-index: 1;

  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#hamburger > span {
  align-self: center;
  background-color: #F8B195;
  display: block;
  height: 4px;
  margin-bottom: 7px;
  text-align: center;
  width: 30px;
}

nav {
  background-color: #F8B195;
  color: #355C7D;
  margin-right: 5vw;
  margin-top: 11vh;
  overflow: hidden;
  position: fixed;
  right: 0;

  max-height: 0;
  transition: max-height 0.5s ease-out 0s;
}

.showNav {
  max-height: 500px;
  transition: max-height 0.5s ease-out 0s;
}

nav > div {
  font-size: 1em;
  line-height: 35px;
  outline: 1px solid #6C5B7B;
  outline-offset: -1px;
  text-align: center;
  width: 20vw;
}

.name {
  position: absolute;
  font-size: 4.236em;
  line-height: 15vh;
  font-family: 'Expletus Sans', cursive;
}

#first {
  top:35vh;
  right: 10vw;
}

#last {
  top:45vh;
  left: 10vw;
}

#title {
  font-size: 1.333em;
  text-align: center;
  top: 60vh;
  position: absolute;
  width: 100vw;
}

.bar {
  background-color: #F67280;
  height: 1vh;
  position: absolute;
  width: 50vw;
}

#bar-one {
  top: 41.5vh;
  left: 10vw;
}

#bar-two {
  top: 51.5vh;
  right: 10vw;
}

#bar-three {
	top: 65vh;
	width 30vw;
	left: 25vw;
}



#about,
#portfolio,
#welcome {
  height: 100vh;
  width: 100vw;
}

#contact {
  height: 70vh;
}

#about {
  background-color: palegoldenrod;
}

#welcome {
  background-color: lightblue;
}

#portfolio {
  background-color: plum;
}

#contact {
  background-color: darksalmon;
}

h1 {
  color: #F8B195;
  font-family: 'Expletus Sans', cursive;
  font-size: 2.618em;
  text-align: center;
  position: relative;
  width: 100vw;
  margin: 0;
}

#aboutMe-header {
  top: 11vh;
}

#bio {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  position: relative;
  top: 23vh;
  margin: 7vw;
}

#mobile-clue {
  color: red;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  position: relative;
  text-align: center;
  width: 100vw;
}

#contact-title {
  color: #6C5B7B;
  display: block;
  font-family: 'Raleway', sans-serif;
  position: absolute;
  text-align: center;
  top: 315vh;
  width: 100vw;
}

.project-container {
  height: 20vh;
  margin-bottom: 7vh;

  opacity: 1;
  transition: opacity 2s ease-in;
  -ms-transition: opacity 2s ease-in;
  -moz-transition: opacity 2s ease-in;
  -webkit-transition: opacity 2s ease-in;
}

.project-image {
	width: 75vw;
  position: absolute;
  height: 20vh;
	background-color: red;
	margin:  12.5vw;
  z-index: 1;
}

.project-list {
	list-style-type: georgian;
	margin: 15vh 5vw 0vw 10vw;
	color: red;
	position: absolute;
}

.project-list > li {
	font-size: 1.25em;
	margin: 2vh 0 2vh 0;
}

#project-info {
	position: fixed;
  top: 15vh;
  left: 10vw;
	height: 75vh;
	width: 80vw;
	background-color: green;
}

.hidden {
  opacity: 0;
  transition: opacity 2s ease-in;
  -ms-transition: opacity 2s ease-in;
  -moz-transition: opacity 2s ease-in;
  -webkit-transition: opacity 2s ease-in;
}

.showInfo {
  display: fixed;

	opacity: 1;
  transition: opacity 2s ease-in;
  -ms-transition: opacity 2s ease-in;
  -moz-transition: opacity 2s ease-in;
  -webkit-transition: opacity 2s ease-in;
}

#project-close {
	position: absolute;
	font-size: 1.618em;
	line-height: 8vh;
	left: calc(80vw - 8vh);
	width: 8vh;
	color: white;
	background-color: black;
	text-align: center;
}

.info-button {
	margin-bottom: 3vh;
	width: 65vw;
	height: 10vw;
	background-color: red;
	position: relative;
	top: 60vh;
	left: 7.5vw;
}

input,
textarea {
  display: block;
  border: none;
  border-radius: 10px;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  position: absolute;
}

#contact-email,
#contact-name {
  line-height: 5vh;
  text-align: center;
  top: 330vh;
  width: 30vw;
}

#contact-name {
  left: 15vw;
}

#contact-email {
  left: 55vw;
}

#contact-message {
  height: 15vh;
  left: 10vw;
  padding: 2.5vw;
  top: 340vh;
  width: 75vw;
}

#contact-send {
  background-color: #355C7D;
  color: #F8B195;
  left: 42.5vw;
  line-height: 5vh;
  top: 360vh;
  width: 15vw;
}

footer {
  background-color: #355C7D;
  height: 30vh;
  width: 100vw;
}

.social {
  /*the position of the top of the icon is equal to half the footer's top position minus half the height of the icon*/
  background-color: #355C7D;
  background-size: 100% 100%;
  border-radius: 50px;
  height: 80px;
  top: calc(385vh - 40px);
  position: absolute;
  width: 80px;
}

#linkedin {
  background-image: url('../assets/linkedin.png');
  left: 8vw;
}

#github {
  background-image: url('../assets/github.png');
  left: calc(50vw - 40px);
}

#twitter {
  background-image: url('../assets/twitter.png');
  right: 8vw;
}
