* {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

#hamburger {
  height: 10vh;
  position: fixed;
  margin-right: 3vw;
  margin-top: 3vh;
  right: 0;
  width: 10vw;
  z-index: 1;

  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bun {
  align-self: center;
  background-color: #F8B195;
  display: block;
  height: 4px;
  margin-bottom: 7px;
  text-align: center;
  width: 30px;
}

nav {
  background-color: #F8B195;
  color: #355C7D;
  margin-right: 5vw;
  margin-top: 11vh;
  overflow: hidden;
  position: fixed;
  right: 0;
  z-index: 2;

  max-height: 0px;
  transition: max-height 0.5s ease-out 0s;
}

.showNav {
  max-height: 500px;
  transition: max-height 0.5s ease-out 0s;
}

.navClicked {
  background-color: #fafafa;
  color: #002e63;
}

nav > div {
  font-size: 1em;
  line-height: 35px;
  outline: 1px solid #6C5B7B;
  outline-offset: -1px;
  text-align: center;
  width: 20vw;
}

.name {
  position: absolute;
  font-size: 4.236em;
  line-height: 15vh;
  /*font-family: 'Expletus Sans', cursive;*/
}

#first {
  top:37vh;
  right: 10vw;
}

#last {
  top:43vh;
  left: 10vw;
}

#title {
  font-size: 1.333em;
  text-align: center;
  top: 59vh;
  position: absolute;
}

.bar {
  background-color: #F67280;
  height: 1vh;
  position: absolute;
  width: 50vw;
}

#bar-one {
  top: 43.5vh;
  left: 10vw;
}

#bar-two {
  top: 50.5vh;
  right: 10vw;
}

#bar-three {
	top: 64vh;
	left: 25vw;
}

#about,
#welcome {
  height: 100vh;
  width: 100vw;
}

#portfolio: {
  height: 120vh;
}

#contact {
  height: 70vh;
}

h1 {
  color: #F8B195;
  /*font-family: 'Expletus Sans', cursive;*/
  font-size: 2.618em;
  text-align: center;
  position: relative;
  width: 100vw;
  margin: 0;
}

#about-header {
  top: 20vh;
}

#bio {
  /*font-family: 'Raleway', sans-serif;*/
  font-size: 1em;
  position: relative;
  top: 20vh;
  margin: 7vw 15vw;
}

#project-header {
  top: 0vh;
}

#mobile-clue {
  color: red;
  /*font-family: 'Raleway', sans-serif;*/
  font-size: 1em;
  position: relative;
  text-align: center;
  width: 100vw;
}

.project-container {
  height: 20vh;
  position: relative;

  margin: 5vw 0 5vw 0;
  opacity: 1;
  transition: opacity .7s ease-in-out;
  -ms-transition: opacity .7s ease-in-out;
  -moz-transition: opacity .7s ease-in-out;
  -webkit-transition: opacity .7s ease-in-out;
}

.project-image {
  border-radius: 10px;
	width: 60vw;
  position: relative;
  height: 20vh;
  left: 20vw;
  z-index: 1;
}

.project-title {
  width: auto;
  text-align: center;
  font-size: 2.2em;
  position: relative;
  top: 5vh;
}

.project-list {
	list-style-type: georgian;
	margin: 0 3vw 0vw 10vw;
	color: red;
	position: absolute;
}

ul > li {
  position: relative;
	font-size: 1.25em;
	margin-bottom: 2vh;
  top: 10vh;
}

#project-info {
	position: fixed;
  top: 0;
	height: 75vh;
	width: 80vw;
  border-top: 15vh solid;
  border-left: 10vw solid;
  border-right: 10vw solid;
  border-bottom: 15vh solid;
}

.hidden {
  opacity: 0;
  transition: opacity .3s ease-in-out;
  -ms-transition: opacity .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out;
  -webkit-transition: opacity .3s ease-in-out;
}

.showInfo {
  display: fixed;

	opacity: 1;
  transition: opacity .7s ease-in-out;
  -ms-transition: opacity .7s ease-in-out;
  -moz-transition: opacity .7s ease-in-out;
  -webkit-transition: opacity .7s ease-in-out;
}

#project-close {
	position: absolute;
	font-size: 1.618em;
	line-height: 8vh;
	left: calc(80vw - 8vh);
	width: 8vh;
	color: #fafafa;
	text-align: center;
}

#enter-project {
  background-color: red;
  bottom: 3vh;
  border-radius: 25px;
  border: none;
  height: 8vw;
  left: 20vw;
  margin-bottom: 3vh;
  position: absolute;
  width: 40vw;
}

input,
textarea {
  display: block;
  border: none;
  border-radius: 10px;
  /*font-family: 'Raleway', sans-serif;*/
  font-size: 1em;
  position: relative;

  opacity: 1;
  transition: opacity .7s ease-in-out;
  -ms-transition: opacity .7s ease-in-out;
  -moz-transition: opacity .7s ease-in-out;
  -webkit-transition: opacity .7s ease-in-out;
}

#contact-header {
  color: #6C5B7B;
  display: block;
  /*font-family: 'Raleway', sans-serif;*/
  position: relative;
  text-align: center;
  top: 15vh;
  width: 100vw;
}

#contact-email,
#contact-name {
  line-height: 5vh;
  display: inline-block;
  position: relative;
  text-align: center;
  top: 23vh;
  left: 20vw;
  width: 28vw;
  margin-right: 2vw;
}

#contact-message {
  height: 15vh;
  left: 10vw;
  padding: 2.5vw;
  top: 26vh;
  width: 75vw;
}

#contact-send {
  background-color: #355C7D;
  color: #F8B195;
  left: 42.5vw;
  line-height: 5vh;
  top: 28vh;
  width: 15vw;
}

footer {
  background-color: #355C7D;
  height: 30vh;
  width: 100vw;
}

.social {
  /*the position of the top of the icon is equal to half the footer's top position minus half the height of the icon*/
  background-color: #355C7D;
  background-size: 100% 100%;
  border-radius: 50px;
  height: 70px;
  margin-right: calc(16.2vw - 35px);
  margin-left: calc(16.2vw - 35px);
  position: relative;
  top: calc(50% - 35px);
  width: 70px;
  display: inline-block;
}

#linkedin {
  background-image: url('../assets/linkedin.png');
}

#github {
  background-image: url('../assets/github.png');
}

#twitter {
  background-image: url('../assets/twitter.png');
}

.tiny,
.threeTwenty,
.fourEighty,
.sixHundred,
.eightOhOne,
.tenTwentyFive,
.twelveEightyOne {
  display: none;
  position: fixed;
}
